body {
	background-color: #9CB0A7;
	padding: 5%;
}

/* The Modal  */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
  background-color: #9CB0A7;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: #9CB0A7;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

h1 {
	text-align: center;
	color: #000;
	font-family: 'Roboto', sans-serif;
    font-weight: 900;
    width: 400px;
    margin: 0 auto 30px;
    font-size: 44px;
}

section {
	max-width: 700px;
	margin: 0 auto;
	background-color: #ecf0f1;
    padding: 5%;
    border-radius: 60px;

}

.measurement {
	margin: 40px 0;
    text-align: center;
}

.measurement:last-child {
	margin-right: 0;
}

.btn:last-child {
	margin-right: 0;
}

.btn {
	height: 35px;
	width: 150px;
	border-radius: 0.9rem;
	margin-right: 5%;
}

.btn-primary {
    background-color: transparent;
    border: none;
    padding-top: 0;
    color: #000;
    background: url(images/field.png) no-repeat center;
}

.btn-primary:hover {
	border-color: #000;
}

.pressed {
	border: solid 2px #000;
}

.gender {
	text-align:center;
}

.gender .btn {
    height: 210px;
    width: 210px;
    padding: 0;
	background-color: transparent;
    border-radius: 100px;
    background-position: center;
    border: none;
}

.gender #male {
    background-image: url(images/male.png);
}

.gender #male.btn.pressed2 {
    background: url(images/male-down.png) no-repeat center;
}
	
.gender #female {
    background-image: url(images/female.png);
}

.gender #female.btn.pressed2 {
    background: url(images/female-down.png) no-repeat center;
}
	
.gender .btn.pressed2 {
    border: solid 1px #ccc;
    width: 198px;
    height: 198px;
}
	
.form {
	text-align:center;
	margin: 40px 0;
}	

label
 {
    width: 150px;
	text-align: left;
	color: #000;
	font-weight:bold;
}


input,
input:valid
 {
    width: 170px;
    height: 50px;
    border: 0;
    background: url(images/field.png) no-repeat left center;
    color: #000;
    padding-left: 15px;
    margin-bottom: 50px;
    padding-bottom: 2px;
 }
 
 ::placeholder { 
  color: #ccc;
  opacity: 1; 
}

:-ms-input-placeholder { 
  color: #ccc;
}

::-ms-input-placeholder { 
  color: #ccc;
}

/* Input buttons */

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}

input[type=number]::-webkit-inner-spin-button { 
    background: url('images/inner.png') no-repeat center;  
    width: 34px;
    height: 61px;
    padding: 4px;
    position: relative;
    right: -10px;
    border-radius: 28px;
}
	
[type=submit] {
	width: 289px;
    border-radius: 20px;
    border: 0;
    height: 289px;
    font-size: 20px;
    color: #3B4E48;
    font-weight: bold;
    background: url(images/button.png) no-repeat center;
	cursor: pointer;
}

[type=submit]:hover {
    border-radius: 140px;
    background: url(images/button-down.png) no-repeat center;
}

.result-box {
	margin: 0 auto;
    text-align: center;
    padding: 0;
    border-radius: 20px;
	color: #000;
}

h4#result {
	font-size: 5rem;
}

p.img {
	text-align: center;
}

.info-box img {
	 max-width: 100%;
}

#recom {
	text-decoration: underline;
}

.info-box p {
	font-size: 0.7rem;
}

.info-box p.first {
	margin-top: 40px;
}

#chart {
	background-size: 100%;
	width: 460px;
	height: 460px;	
	margin: 0 auto 20px;
}

#chart.und {
	background: url(images/bg_und.png) no-repeat center;
}

#chart.norm {
	background: url(images/bg_norm.png) no-repeat center;
}

#chart.over {
	background: url(images/bg_ov.png) no-repeat center;
}

#chart.obese {
	background: url(images/bg_obese.png) no-repeat center;
}


.info-text {
    color: #000;
    width: 80%;
    margin: 0 auto;
}

.cta {
	margin-bottom: 0;
}

.cta a {
	display: block;
	width:289px;
	height:289px;
	margin: 0 auto;
	background: url(images/cta.png) no-repeat center;
}

.cta a:hover {
	background: url(images/cta-hover.png) no-repeat center;
}

.info-text h6,
.info-text h4 {
	text-align: center;
}

.sqr {
	
	text-align: center;
	font-size: 1.5rem;
    font-weight: bold;
    padding-top: 7px;
	display: inline-block;
}

#sqr-1 {
	min-width: 10%;
}

#sqr-2 {
	min-width: 55%;
}

#sqr-3 {
	min-width: 20%;
}

#sqr-4 {
	min-width: 10%;
}

#sqr-5 {
	min-width: 5%;
}

.sqr-bg {
	background: url(highlight-box.png) no-repeat top;
	height: 83px;
}
